@import "null.css";
/* Шрифты */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
/* Шрифты/ */
/* Глобальное */
body{
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	line-height: 22px;
	letter-spacing: 0.05em;
	color: #212121;
}
.wrapper{
	display: flex;
	flex-direction: column;
	/* Осторожно */
	min-height: 100%;
	overflow: hidden;
	/* Осторожно */
}
.container {
	max-width: 1170px;
	margin: 0 auto;
}
/* Глобальное/ */
/* Общие */
.button {
}
.button__text {
	display: inline-block;
	border: 2px solid #212121;
	padding: 15px;
	font-size: 20px;
	line-height: 22px;
	font-weight: 600;
	letter-spacing: 0.05em;
	color: #212121;
	&--a{
		background-color: #00897b;
		border: 2px solid #00897b;
		color: white;
	}
	&--lw{
		border: 2px solid #00897b;
	}
}
.titleBlock{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.title{
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 30px;
}
.subtitle{
	font-size: 15px;
	font-weight: 400;
	max-width: 620px;
}

/* Общие/ */
/* Хэдер*/
.header__row {
	height: 121px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 45px 0;
}
.header__image{
	font-size: 25px;
	font-weight: 700;
	letter-spacing: normal;
}
.header__item {
	color: #212121;
	padding: 0 0 0 35px;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 0.05em;
}
/* Хэдер/ */
/* Контентная часть */
.content{
	flex: 1 1 auto;
}
/* Главный баннер */
.main-banner__body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0 auto;
	background: url("../../img/01.png")100%;
	//background: bisque;
	justify-content: center;
}
.main-banner__row{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	min-height: 60vh;
	//background-color: violet;
	margin: 0 auto;
}
.main-banner__heading{
	display: flex;
	flex-direction: column;
	color: #ffffff;
	align-items: center;
}
.main-banner__title {
	text-align: center;
	font-size: 60px;
	font-weight: 600;
	margin-bottom: 40px;
}
.main-banner__subtitle {
	font-size: 22px;
	font-weight: 400;
}
.main-banner__btns {
	min-width: 460px;
	margin: 0 auto;
}
.btns__row {
	display: flex;
	justify-content: space-between;
}
.btns__item {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 30px;
	min-height: 65px;
	font-size: 20px;
	line-height: 22px;
	font-weight: 700;
	letter-spacing: 0.05em;
	color: #ffffff;
}
.btns__item_1{
	border: 3px solid white;
}
.btns__item_2{
	background-color: #00897b;

}

/* Главный баннер/ */
/* О нас */
.about-us__body {
	max-width: 1065px;
	margin: 0 auto;
	padding: 125px 0;
}
.about-us__column {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.about-us__titleBlock {
	margin-bottom: 125px;
}
.about-us__title {
	margin-bottom: 36px;
}
.about-us__row {
	display: flex;
	justify-content: space-between;
	margin: 0 0 0 -72.5px;
}
.about-us__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 0 0 72.5px;
	flex: 1 1 33.33%;
}
.about-us-item__image{
	flex: 0 0 63px;
}
.about-us-item__title {
	font-size: 20px;
	font-weight: 600;
}
.about-us-item__subtitle {
	max-width: 255px;
	text-align: center;
	font-size: 15px;
	font-weight: 400;
}

/* О нас/ */
/* Наши услуги */
.ourServices {
	background-color: #e4fdf9;
	padding-bottom: 105px;
}
.ourServices__column {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.ourServices__titleBlock {
	padding: 170px 0 105px 0;
}
.ourServices__title {
	padding-bottom: 35px;
}
.ourServices__row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 0 -20px -20px;

}
.ourServices__item {
	flex: 1 1 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	text-align: center;
	padding: 50px;
	margin: 0 0 20px 20px;
}
.active{
	background-color: #00897b;
	color: #ffffff;
	.button__text{
		border: 2px solid white;
		color: #ffffff;;
	}
}
.ourServices__itemsImage {
	flex: 0 1 56px;
	padding-bottom: 35px;
}
.ourServices__itemsTitle {
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 20px;
}
.ourServices__itemsSubtitle {
	max-width: 270px;
	font-size: 15px;
	line-height: 25px;
	font-weight: 400;
	padding-bottom: 45px;
}

/* Наши услуги/ */
/* Последние работы */
.latestWork {
	background-color: white;
	padding: 128px 0 136px 0;
}
.latestWork__column {
	display: flex;
	flex-direction: column;
}
.latestWork__titleBlock {
	margin-bottom: 110px;
}
.latestWork__title {
	margin-bottom: 35px;
}
.latestWork__subtitle {
}
.latestWork__navbar {
	margin-bottom: 120px;
}
.latestWork__navbar-row {
	padding: 0 0 0 -20px;
	display: flex;
	justify-content: center;
	& .button{
		margin: 0 0 0 20px;
	}
}
.latestWork__image-row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 0 -30px 0;
}
.latestWork__item {
	flex: 1 1 33.333%;
	margin: 0 0 30px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	&--bg1{background: url("../../img/latestWork/01.png") no-repeat; min-height: 370px;}
	&--bg2{background: url("../../img/latestWork/02.png") no-repeat;}
	&--bg3{background: url("../../img/latestWork/03.png") no-repeat;}
	&--bg4{background: url("../../img/latestWork/04.png") no-repeat; min-height: 370px;}
	&--bg5{ background: url("../../img/latestWork/05.png") no-repeat;}
	&--bg6{ background: url("../../img/latestWork/06.png") no-repeat;}
}
.latestWork__button{
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 100px 0 0 0;
	span{
		padding-left: 60px;
		padding-right: 60px;
	}
}
.latestWork__itemColumnText {
	font-weight: 600;
	color: #ffffff;
	text-align: center;
}
.latestWork__itemColumnTitle {
	font-size: 20px;
}
.latestWork__itemColumnSubtitle {
	font-size: 15px;
}
.latestWork__itemColumnText--dn {
	display: none;
}
/* Последние работы/ */
/* Тарифные планы */
.pricingPlan {
	background-color: #f0f0f0;
	padding: 125px 0;
}
.pricingPlan__column {
	display: flex;
	flex-direction: column;
}
.pricingPlan__titleBlock {
	margin-bottom: 130px;
}
.pricingPlan__title {
	margin-bottom: 30px;
}
.pricingPlan__row {
	display: flex;
	padding: 0 0 0 -15px;
}
.pricingPlan__item {
	flex: 1 1 33.333%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	margin: 0 0 0 15px;
	&--a{
			box-shadow: 0 0 40px 0 grey;
	}

}
.pricingPlan__itemColumn {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.pricingPlan__itemHeader {
	font-weight: 400;
	color: #ffffff;
	background: url("../../img/pricingPlan/01.png") no-repeat;
	min-width: 370px;
	min-height: 209px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 0 60px 0;
}
.pricingPlan__tariff {
	font-size: 25px;
	margin-bottom: 35px;
}
.pricingPlan__cost {
	font-size: 50px;
	.pricingPlan__period{
		font-size: 17px;
	}
	.pricingPlan__currency{
		font-size: 25px;
		vertical-align: super;
	}
}
.pricingPlan__itemBody {
	padding: 50px 0 65px 0;
	display: flex;
	flex-direction: column;
	align-items: center;

	p{
		font-size: 17px;
		font-weight: 300;
		letter-spacing: 0.05em;
		text-align: center;
		border-bottom: 1px grey solid;
		width: 180px;
		margin-bottom: 35px;
	}
}
.pricingPlan__button {
	padding: 0 0 60px 0;
}
/* Тарифные планы */
/* Наша команда */
.ourTeam {
}
.ourTeam__column {
	display: flex;
	flex-direction: column;
}
.ourTeam__text {
	padding: 120px 0;
}
.ourTeam__row {
	display: flex;
	padding: 0 0 0 -15px;
}
.ourTeam__item {
	flex: 1 1 33.333%;
	margin: 0 0 0 15px;
}
.ourTeam__itemColumn {
	display: flex;
	flex-direction: column;
}
.ourTeam__fotoBlock {
	flex: 1 1 370px;
}
.ourTeam__foto {
	width: 100%;
}
.ourTeam__info {
	text-align: center;
}
.ourTeam__initials {
	font-size: 20px;
	font-weight: 600;
}
.ourTeam__position {
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 25px;
}
.ourTeam__socialMediasRow {
	display: flex;
	justify-content: center;
	padding-bottom: 200px;
}
.ourTeam__links{
	display: flex;
	font-size: 30px;
	font-weight: 400;
	color: #00897b;
	max-width: 275px;
	padding: 0 0 0 -12.5px;
	&--active{
		color: #3949ab;;
	}
	a{
		color: inherit;
	}
}
.ourTeam__icon{
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 50px;
	min-height: 50px;
	background-color: #f0f1f1;
	border-radius: 10px;
	text-align: center;
	margin: 0 0 0 12.5px;
}
/* Наша команда/ */
/* Блог */
.blog {
	background-color: #e4fdf9;
	padding: 125px 0;
}
.blog__column {
	display: flex;
	flex-direction: column;
}
.blog__titleBlock {
	margin-bottom: 125px;
}
.blog__itemRow {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 125px;
}
.blog__item {
	flex: 0 1 100%;
	display: flex;
}
.blog__imageBlock {
	flex: 1 1 570px;
	margin-right: 30px;
}
.blog__image {
	width: 100%;
}
.blog__articleBlock {
	margin: 60px 160px 0 0;
	font-weight: 600;
}
.blog__articleTitle {
	font-size: 25px;
	padding-bottom: 30px;
	&:hover{
		color: #00897b;
		cursor: pointer;
	}
}
.blog__tags {
	 .blog__dateLink,.blog__categoryLink {
		font-size: 17px;
		color: #212121;
	}
	padding-bottom: 30px;
}
.blog__categoryLink{
	padding-left: 40px;
}
.blog__articleTextPreview {
	font-size: 15px;
	font-weight: 400;
	max-width: 460px;
}
.blog__button{
	display: flex;
	justify-content: center;
}
.blog__buttonLink {
	display:inline-block;
	text-align: center;
	background-color: #00897b;
	border: 2px solid #00897b;
	color: white;

}
/* Блог/ */
/* Связь с нами */
.contactUs {
	background-color: #202020;
	padding: 130px 0 115px 0;
}
.contactUs__body {
	max-width: 1035px;
	margin: 0 auto;
}
.contactUs__column {
	display: flex;
	flex-direction: column;
}
.contactUs__titleBlock {
	color: #ffffff;
	margin-bottom: 105px;
}
.contactUs__infoRow {
	display: flex;
	margin-bottom: 85px;
}
.contactUs__item {
	flex: 1 1 33.333%;
}
.contactUs__itemColumn {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contactUs__itemIconBlock {
	flex: 1 0 105px;
	border-radius: 50%;
	background-color: #3949ab;
	width: 105px;
	height: 105px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 35px;
}
.contactUs__itemIcon {
}
.contactUs__descriptionBlock {
	font-size: 20px;
	line-height: 28px;
	font-weight: 600;
	letter-spacing: 0.05em;
	color: #ffffff;
	text-align: center;
}
.contactUs__formRow {
	display: flex;
	justify-content: center;

}
.contactUs__form {
	display: flex;
	flex-wrap: wrap;
}
.contactUs__formInput{
	font-size: 20px;
	line-height: 28px;
	font-weight: 600;
	letter-spacing: 0.05em;
	background-color: #ffffff;
	border-radius: 10px;
	padding: 35px 0 35px 20px;
	margin: 0 0 20px 20px;
}
.contactUs__inputName {
	flex: 0 1 48%;
}
.contactUs__inputEmail {
	flex: 0 1 48%;
}
.contactUs__messageArea {
	flex: 0 1 100%;
}
.contactUs__submitButton{
	padding: 30px 80px 30px 80px;
	border-radius: 10px;
	margin-left: 79%;
}

/* Связь с нами/ */
/* Контентная часть/ */
/* Футер */
.footer {
	background-color: #ffffff;
}
.footer__row {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer__text {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 0.05em;
}
/* Футер/ */